body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.web-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.studio-color {
  color: #2e2f42;
}

.nav-list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-list-item:hover,
:focus {
  color: #404bbf;
}

header > nav > ul > li {
  list-style-type: none;
}

.header-address {
  font-style: normal;
}

.address-item {
  list-style-type: none;
}

.address-item {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address-item:hover,
:focus {
  color: #404bbf;
}

.hero-container {
  background-color: #2e2f42;
}

.hero-title {
  line-height: 1.07;
  color: white;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  background-color: #4d5ae5;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.hero-btn:hover {
  background-color: #404bbf;
  color: white;
}

.hero-btn:focus {
  background-color: #404bbf;
  color: white;
}

.feature-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.feature-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list-item {
  background-color: #ffffff;
}

.team-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer-container {
  background-color: #2e2f42;
}

.footer-web-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-studio-color {
  color: #f4f4fd;
}

.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
